<h1>New Friend Test</h1>
<% if user_signed_in? %>
	<%= form_for @application do |f| %>
		<% if @application.errors.any? %>
		  <div id="errors">
		    <p><%= @application.errors.count %> Prevented this application from saving</p>
		    <ul>
		      <% @application.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		    </ul>
		  </div>
		<% end %>
		<div class="field">
			<%= f.label :title %><br>
			<%= f.text_field :name, placeholder: "Name of Your Friend Test", class: "form-control" %><br>
			<%= f.label :description %><br>
			<%= f.text_field :description, placeholder: "Write a witty tagline for your test.", class: "form-control" %><br>
		</div>
		<h3>Questions</h3>
			<p>Add about 10-20 questions that only a friend would know.</p>
			<%= f.fields_for :tests do |test| %>
				<div id="questions">
					<div class="field">
				  	<%= render 'questions_fields', f: test %>
			  	 <div class="links">
				  	<%= link_to_add_association 'Add Question', f, :tests, partial: 'questions_fields' %>
				   </div>
				  </div>
				</div>
			<% end %>
		<br>
		<div class="form-actions">
			<%= f.button :submit %>
		</div>
	<% end %>
<% end %>
