<h1>New Friend Test</h1>
<% if user_signed_in? %>
	<%= form_for @application do |f| %>
		<div class="field">
			<%= f.label :title %><br>
			<%= f.text_field :name, placeholder: "Name of Your Friend Test", class: "form-control" %><br>
			<%= f.label :description %><br>
			<%= f.text_field :description, placeholder: "Write a witty tagline for your test.", class: "form-control" %><br>
		</div>
		Questions:
		<ul>
			<%= f.fields_for :questions do |question_form| %>
				<li>
					<%= question_form.label :question %>
					<%= question_form.text_field :question %>
				</li>
			<% end %>
		</ul>
		<div class="form-actions">
			<%= f.submit class: "btn btn-default" %>
		</div>
	<% end %>
<% end %>
